@import './_variables';
@import './_mixins';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Press+Start+2P');

body {
    font-size: 13px;
    p {
        padding: 5px;
    }
}

main {
    margin-top: 12vh;
}
nav {
    i {
        color: white;
    }
}
.navbar{
    transition:500ms ease;
    background:transparent;
    a {
        font-family: $title;
        color: $grey;
        align-content: center;
    }
}
.navbar.scrolled{
    background:rgba(246, 73, 203, 0.445);
    a {
        color: white;
    }
}

#home {
    @include generic;
    h3 {
        background-color: $neonGreen;
    }
    a {
        color: $neonPink;
    }
    img {
        margin: 10px;
    }
}

#about {
    @include generic;
    h3 {
        background-color: $neonPink;
    }
    #skills {
        background-color: $neonBlue;
    }
    #goals {
        background-color: $neonGreen;
    }
    #innerrow {
        margin-top: 5vh;
    }
}

#skills {
    #stack {
        p {
            background-color: $neonPink;
        }
    }
}

#projects {
    @include generic;
    h3 {
        background-color: $yellow;
    }
}

#headline {
    @include headline;
}

#italicized {
    @include italicized;
}

#footer {
    height: 20vh;
    margin-top:5vh;
    background-color: $neonBlue;
}

.card {
    margin-top: 10px;
    h5 {
        font-family: $title;
        font-size: 15px;
        .secondDesign {
            font-family: $title2;
        }
    }
    li {
        font-family: $body;
    }
    a {
        font-family: $title;
        font-size: 10px;
        text-decoration: none;
        color: $neonPink;
        border: 2px solid black;
        padding: 10px;
    }
    a:hover{
        background-color: $neonPink;
        color: white;
        -webkit-box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.75);
    }
}

#contact {
    margin-top: 2.5vh;
}

#icon {
    font-size: 45px;
    padding: 10px;
    color: $neonPink
}

#iconSmall {
    font-size: 20px;
    padding: 10px;
    color: $yellow;
}