@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Press+Start+2P');

$title: 'Press Start 2P', cursive;
$body: 'Nanum Gothic Coding', monospace;

$neonBlue: rgba(93, 234, 229, 1);
$neonGreen: rgba(137, 255, 119, 1);
$yellow: rgba(255, 239, 96, 1);
$neonPink: rgba(255, 107, 235, 1);
$grey: rgba(232, 232, 232, 1);
