@import './_variables2.scss';

body {
  background-color: #FFF9FB;
  font-family: $monospace;
  min-height: 100vh;
  max-height: 100vh; }

a, a:hover, a:active, a:default {
  text-decoration: none;
  color: black;
  font-family: $monospace;
}

#profCol {
  // background-image: url('../assets/images/dotsbg.jpg');
  background-color: $grey;
  z-index: 2;
  min-height: 100vh;
  h3 {
    font-family: $eightbit;
  }
  Button {
    background-color: rgba(255,255,255,.6);
    border: 5px solid;
    width: 100%;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    border-radius: 5px;
    font-family: $monospace;
  }
  #ghbtn:hover {
    border-color: $pink;
  }
  #libtn:hover {
    border-color: $green;
  }
  #twtbtn:hover {
    border-color: $blue;
  }
}
#profileImg {
  width: 70%;
  height: auto;
  margin-top: 40px;
  border: 5px solid black;
  align: center;
 }

 #mainContent {
   max-height: 100vh;
   overflow: auto;
   h3 {
     font-family: $eightbit;
     background-color: $pink;
     padding-top: 10px;
     padding-left: 10px;
   }
 }

#two {
  #linkedin {
    font-family: $monospace;
  }
}

#one, #three, #two, #four {
  padding: 15px;
  h4 {
    font-family: $eightbit;
    padding-top: 10px;
    padding-left: 10px;
  }
}


#two {
  h4 {
    background-color: $yellow;
  }
  a {background-color: $pink;
  }
}

#three {
  h4 {
    background-color: $green;
  }
}

#four {
  h4 {
    background-color: $blue;
  }
  a {
    background-color: $green;
  }
}

#mockUps {
  width: 100%;
}
